.TopImage {
    /* margin-top: -180px; */
    /* margin-left: -100px; */
    /* width: 10%; */

}

.Main{
    /* padding: 80px; */
    width: 80%;
    margin: 0 auto;
}

.Top {
    padding-top: 60px;
    padding-left: 150px;
    color: #222;
}

.Top p{
    line-height: 1.5;
    color: #777;
}

.Top h1{
    font-size: 36px;
    font-weight: bolder
}

.Background {
    /* width: 100%; */
    /* margin-top: -80px;
    margin-left: -80px;
    margin-right: -80px;
    margin-bottom: -80px; */
    /* padding: 70px; */
    height: 800px;
    background-color: white;
    /* background-color: cornflowerblue; */
    background-image: url('../../../assets/images/front.png');
    background-repeat: no-repeat;
    
    background-size: cover;
}

.NavigationHeader {
    margin: 0px;
    height: 110px;
    width: auto;
    /* background-color: #fff; */
    font-weight: bold;
}
.Content {
    /* padding: 50px; */
    /* line-height: 1.5; */
}
.Title {
    /* width: 20%; */
    margin: 0px;
    color: cornflowerblue;
    font-weight: 900;
    display: inline;
}

.Nav {
    /* width: 60%; */
    /* padding-top: 30px; */
    margin-right: 40px;
    font-weight: 400;
    display: inline;
    margin-left: 40px; 
}

.NavigationHeader a{
    margin: 0px;
}

@media only screen and (max-width: 700px) {
    .Top {
        padding-left: 10px;
        /* width: 80%; */
        /* margin: 0 auto; */
        color: #222;
    }
}
