.FullExpSchool {
    width: 40%;
    margin: 30px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: left;
    background-color: white;
    padding: 30px 80px;
}

.Buttons {
    padding: 5px;
    margin-top: 20px;
    margin-right: 15px;
}

.Description {
    margin-top: 20px;
}

li {
    margin: 3px;
}