.Content {
    width: 80%;
    margin: 0 auto;
}

.JobLink {
    width: 500px;
}

.resumeContainer {
    display: block;
    background-color: #fff;
    /* margin: auto;
    padding: 40px;
    widows: 595px;
    height: 842px; */
    size: A4;
    margin: 0;
    padding: 80px;
    width: 893px;
    height: 1263px;
}

.FirstName {
    color: cadetblue;
    font-weight: lighter;
    display: inline;
    font-size: 32px;
}

.LastName {
    color: cadetblue;
    font-weight: bold;
    display: inline;
    font-size: 32px;
}

.SectionTitle {
    color: cadetblue;
    font-weight: bold;
    font-size: 20px;
}

.FlexContainer {
    display: flex;
    align-items: stretch;
    /* background-color: #fffdfd; */
    margin-bottom: 0;
    padding-bottom: 0;
}

.SchoolName {
    font-size:16px;
    display: inline-block;
    font-weight:normal;
    /* width:70%; */
    flex-grow: 7;
}

.SchoolDate {
    font-size:14px;
    display: inline-block;
    font-weight: lighter;
    /* width: 30%; */
    text-align: right;
    flex-grow: 3;

}

.SchoolMajor {
    font-size:16px;
    font-weight:bold;
    margin-top: -12px;

}

.Error {
    font-weight: bold;
    color: crimson;
}