.NewExpJob {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

.Inputs {
    padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%
}

.Select {
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.DescriptionRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}