.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.BlueRounded {
    background-color: cornflowerblue;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100px;
}

.Logout {
    background-color: cornflowerblue;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    /* padding: 5px 13px; */
    width: 100px;
}

.Login {
    background-color: coral;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    /* padding: 5px 13px; */
    width: 150px;
}

.Help {
    border: 2px solid cornflowerblue;
    background-color: white;
    color: cornflowerblue;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-color: #2196F3;
    color: dodgerblue;
    border-radius: 20px;
    text-align: center;
    display: inline;
}

.Arrow {
    color: grey;
    display: inline-block;
}

.Cover {
    background-color: cornflowerblue;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    margin: 4px 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 10px; */
}