.NavigationHeader {
    /* height: 110px; */
    width: 100%;
    font-weight: bold;
}

.NavigationHeader li {
    display: inline;
    /* font-size: 13px; */
    list-style-type: none;
    margin-left: 30px;
}

.White {
    background-color: #fff;
}
.Content {
    padding: 50px;
}
.Title {
    width: 20%;
    margin: 0px;
    color: cornflowerblue;
    font-weight: 900;
    display: inline;
}

.Nav {
    width: 60%;
    padding-top: 30px;
    margin-right: 50px;
    font-weight: 400;
    display: inline;
}

a {
    margin: 30px;
}

.cover {
    background-color: null;
}

@media only screen and (max-width: 700px) {
    .NavigationHeader li {
        padding: 10px 0;
        display: block;
        margin-left: 0;
    }
  }

