.NavigationHeader {
    height: 250px;
    width: 100%;
    background-color: #aaa;
}
.Content {
    padding: 50px;
}
.Title {
    margin: 0;
}

.Nav {
    margin: 0;
    padding-top: 30px;
}

.RightCorner {
    text-align: right;
}