.Input {
    box-sizing: border-box;
    margin-bottom: 40px;
    display: block;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
}

.InputElement {
    font: inherit;
    width: 80%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
}

.InputElement:focus {
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}