.Tutorial{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    align-items: stretch;
}



.left_arrow {
    padding: 20px;
    text-align: center;
    /* width: 10%; */
    background-color: green;
    display: inline-block;
    margin: auto;
    /* line-height: 100%; */
    flex-grow: 1;
    order: 1;
}

.right_arrow {
    padding: 20px;
    text-align: center;
    /* width: 10%; */
    background-color: green;
    display: inline-block;
    margin: auto;
    /* line-height: 100%; */
    flex-grow: 1;
    order: 3;
}

.display {
    padding: 20px;
    /* -webkit-box-flex: 0; */
    /* -ms-flex: 0 0 60%; */
    /* flex: 0 0 60%; */
    width: 60%;
    background-color: orange;
    display: inline-block;
    height: 100%;
    margin: auto;
    flex-grow: 2;
    order: 2;
}

.centered {
    text-align: center
}

.img {
    display: block;
    width: auto;
    height: auto;
}