body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  background-color: #eee;
  /* background-image: url('./assets/images/front.png'); */
}

/* unvisited link */
a:link {
  color: #aaa;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #aaa;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: orange;
  text-decoration: none;
}

/* selected link */
a:active {
  color: cornflowerblue;
  text-decoration: none;
}